.flag b {
	display: inline-block;
	width: 32px;
	height: 32px;
	background:url(/images/flags.png) no-repeat;
	margin-left: 50px;
	margin-right: -10px;
}

.flag.flag-en b {background-position: -32px -32px}
.flag.flag-fr b {background-position: -64px 0}
.flag.flag-de b {background-position: -32px 0}
.flag.flag-it b {background-position: 0 -32px}
