li.message {
/* Looks like a Bootstrap <a>, except for the :hover : */
    display: block;
    padding: 3px 20px;
/* Oh, and some italics to spice things up: */
    font-style: italic;
}
.modal-title {
    color: black !important;
}

/* input search user from navbar */
form, .input-field{
    height: 63px;
    width: 330px;
}
